body {
    background-color: lightgray;
}

.h1-index {
    color: green
}

.h2-index {
    font-size: 22px;
    font-style: italic;
}

.reviews {
    background-color: yellow;
    height:140px;
    width: 140px;
    border: 20px solid green; 
    padding: 20px;
    margin: 20px;
    font-style: bold;
}

.go-home {
    font-size: 20px
}


#submit {
    font-size: 16px;
}

.link {
    font-size: 17px
}
